@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-50 transition-all hover:border-[#bdfffe]/40 hover:text-[#bdfffe]/40;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-4 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#bdfffe] focus:text-[#bdfffe]/40 hover:border-[#bdfffe]/40;
  }
}
html > div[style] {
  display: none !important;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: relative;
  left: 50%;
  width: 25px;
  height: 25px;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
